.blogPostLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none !important;
  margin-bottom: 18px;
  dd {
    margin: 0;
  }
}

.metadata {
  display: flex;
  border-bottom: 1px solid gray;
  margin-top: 14px;
  padding-bottom: 14px;
  dd {
    margin: 0;
  }
}

.backNavHeader {
  font-size: 1.55em;
  margin: 0;
  margin-bottom: 56px;
  display: flex;
  align-items: center;
  svg {
    margin-left: 20px;
  }
}

.backNavLink {
  text-decoration: none !important;
}

.blogSection {
  pre {
    padding: 8px;
    line-height: 1.1rem;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-word;
  }
  pre,
  code {
    background: var(--c-background-secondary);
  }
  code {
    color: var(--c-primary);
  }
  ol {
    list-style-type: string;
    li {
      margin-left: 1.6rem;
      color: var(--c-paragraph);
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  img {
    width: 100%;
    background: white;
    padding: 10px;
  }
  h2,
  h3,
  h4,
  h5 {
    margin-top: 36px;
  }
}
