.githubCalendarContainer {
  position: relative;
  overflow-x: hidden;
  height: 118px;
  .calendarFadeOverlay {
    position: absolute;
    height: 100%;
    width: 10%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 9px,
      rgba(255, 255, 255, 0) 76%
    );
    z-index: 2;
  }
}

.githubCalendar {
  margin-right: 9px;
  margin-top: 9px;
  position: absolute;
  min-width: 690px;
  right: 0;
}

.githubCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-subtle);
  padding: 14px;
  border-radius: 10px;
  min-height: 162px;
  margin-bottom: 20px;
  * {
    user-select: none;
  }
  p {
    flex-grow: 1;
  }
  .bottomRow {
    span {
      margin: 0 10px;
    }
    .ghStat {
      display: inline-flex;
      align-items: center;
    }
  }
}
