html,
body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
    font-weight: 300;
  }
  p,
  div,
  span,
  dd {
    font-weight: 300;
  }
  p {
    color: #828282;
  }
  li,
  li a {
    text-align: left;
    font-size: 1rem;
  }
  ol {
    padding: 0 1em;
    list-style-type: none;
    overflow: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}
