.menuContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    user-select: none;
  }
}
@keyframes growIn {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 100%;
  }
}
.menuList {
  li,
  li a {
    text-align: left;
    max-width: 0;
    animation: growIn 600ms ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-overflow: hidden;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    &:hover {
      color: #b51233;
    }
  }
}
@for $i from 1 through 10 {
  .menuList li:nth-child(#{$i}n) {
    animation-delay: #{400 + $i * 125}ms;
  }
}
