$tablet: 855px;
$sidebarWidth: 178px;

.container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.55em;
    margin: 0;
  }
  strong {
    color: var(--c-accent);
  }

  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 30px;
  grid-template-areas:
    "s c"
    "f f";
}

.contentPage {
  padding: 26px;
  max-width: 680px;
  margin: auto;
  margin-top: 26px;
  width: calc(100vw - 12px);
  @media screen and (max-width: $tablet) {
    padding-left: 36px;
  }

  a {
    color: white;
    border-bottom: 1px solid var(--c-subtle);
  }

  section {
    margin-top: 36px;
  }
}

.nowrap {
  white-space: nowrap;
}

.pageContent {
  grid-area: c;
  color: white;
}
.sidebar {
  @media screen and (max-width: $tablet) {
    .sidebarExpand {
      display: block !important;
    }
    position: fixed;
    height: 100%;
    background: black;
    &.hidden {
      width: 10px;
      padding-left: 0px;
      .sidebarFixed {
        display: none;
      }
    }
  }
  z-index: 2;
  padding: 6px 10px;
  background: transparent;
  border-right: 1px solid #0d0d0d;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      #1b1b1b 200px,
      calc(100% - 200px),
      rgba(0, 0, 0, 0)
    )
    3 100%;
  grid-area: s;
  width: $sidebarWidth;
  h1 {
    margin-top: 18px;
    padding: 0 1.5rem;
  }
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  z-index: 10;
  grid-area: f;
  display: flex;
  margin: 0 6px;
  flex: 1;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.copyright {
  font-size: 0.7em;
  color: var(--c-subtle);
}

.sidebarExpand {
  display: none !important;
  background: var(--c-background-primary);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: -26px;
  top: 50vh;
  display: flex;
  border: none;
  outline: none;
  border-right: 1px solid var(--c-subtle);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    margin-left: 20px;
    color: var(--c-paragraph);
  }
}

.sidebarMenuList {
  padding: 0 10px 0 1.5em;
  color: var(--c-primary);
  svg {
    margin-left: 5px;
    margin-bottom: -3px;
    width: 10px;
  }
}

.sidebarFixed {
  position: fixed;
  max-width: $sidebarWidth - 20px;
}
