.githubCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-accent-dim);
  padding: 14px;
  border-radius: 10px;
  min-height: 162px;
  margin-bottom: 20px;
  * {
    user-select: none;
  }
  p {
    flex-grow: 1;
  }
  .bottomRow {
    display: flex;
    justify-content: space-between;
    span {
      margin: 0 10px;
    }
    .GhLink {
      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: color 300ms cubic-bezier(0.23, 1, 0.32, 1);
      svg {
        margin-right: 6px;
      }
      &:hover {
        color: var(--c-accent);
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.githubCalendarContainer {
  position: relative;
  overflow-x: hidden;
  height: 150px;
}

.githubCalendar {
  position: absolute;
  min-width: 690px;
  right: 0;
}
